EXPO_PUBLIC_AMBIENTE="dev"
EXPO_PUBLIC_VERSAO="v1.0"
EXPO_PUBLIC_URL_API=""

EXPO_PUBLIC_COR_PRIMARIA="rgba(71, 71, 135, 1.0)"
EXPO_PUBLIC_COR_SECUNDARIA="rgba(112, 111, 211, 1.0)"
EXPO_PUBLIC_COR_PRIMARIA_TRANSPARENTE="rgba(71, 71, 135, 0.95)"
EXPO_PUBLIC_API_KEY_FIREBASE=""